@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html {
  scrollbar-width: normal;
  scrollbar-color: #777 #0000002a;
}

html::-webkit-scrollbar {
  width: 4px;
  background-color: #02090d;
}

html::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 18px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

html::-webkit-scrollbar-track {
  background-color: #5555;
}

html::-webkit-scrollbar-track:hover {
  background-color: #555;
}

/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ===== Colours ===== */
/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ===== Colours ===== */
:root {
  --body-color: #f7f8fa;
  --nav-color: #17181c;
  --side-nav: #17181c;
  --text-color: #17181c;
  --navtext-color: #ffffff96;
  --search-bar: #f2f2f2;
  --search-text: #17181c;
  --movie-item-color: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #101010;
  --nav-color: #17181c;
  --side-nav: #17181c;
  --text-color: #ffffff;
  --text-color-nav: #ffffff96;
  --search-bar: #242526;
  --movie-item-color: transparent;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1570px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--navtext-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--navtext-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 20px;
  list-style: none;
}

body > nav > div > div.menu > ul {
  margin-bottom: 0;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--navtext-color);
  text-decoration: none;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--navtext-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--navtext-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}

@media (max-width: 1200px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--navtext-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
.user-pic {
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid rgb(46, 46, 46);
}

.sub-menu-wrap {
  position: absolute;
  top: 92%;
  right: 0.5%;
  width: 290px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s;
  z-index: 1; /* Set a higher z-index to ensure the dropdown menu appears on top */
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #17181cfb;
  padding: 20px;
  margin: 10px;
  border-radius: 18px;
}

.user-info {
  position: relative;
  font-family: "Konkhmer Sleokchher", cursive;
  color: #fff;
  word-spacing: 5px;
}
.user-info h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 73px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin: 12px 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.sub-menu-link p {
  width: 100%;
  margin-bottom: 0;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

/* ---------------------------------------------------------NavBarEnd------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.slice {
  width: auto;
  height: 35rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url(./images/Landscape/openhimerlandscape.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place the background image behind other content */
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black overlay */
  z-index: 0; /* Place the overlay above the background image */
}

.inside-slice {
  min-height: 34.8rem;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure this container is on top of the overlay */
  z-index: 1;
}

.container {
  max-width: 1990px;
  height: 90%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}

@media (max-width: 768px) {
  .slice {
    min-height: 70rem;
  }
  .inside-slice {
    min-height: 100%;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin: 0 1px;
  }
  .image-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .function-box {
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: -2rem;
  }
  .about-container {
    margin-left: 0;
  }
  .overview-description {
    margin-right: 1rem;
  }
  .function-box {
    justify-content: center;
  }
  .overview {
    margin-top: 2.5rem;
  }
}

.image-container {
  width: 20rem;
  height: 100%;
  background-image: url(./images/Movie-Posters/openhimer.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0rem 8rem;
}

.about-container {
  height: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.title-box {
  width: 95%;
  height: 5rem;
  display: flex;
  flex-direction: column;
}

.title-line {
  margin-bottom: 5px;
  display: flex;
  gap: 1rem;
}

.movie-name {
  height: 2.5rem;
}

.movie-name h1 {
  margin: 0;
  padding: 0;
  font-size: calc(18px + 1vw);
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.year h2 {
  color: rgba(255, 255, 255, 0.838);
  font-size: calc(18px + 1vw);
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
}

.sub-name-info {
  display: flex;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.sub-name-info-line {
  display: flex;
  gap: 1rem;
}

.function-box {
  width: 95%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.wrapper .card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  scale: 0.45;
  background: rgba(255, 255, 255, 0);
}

.wrapper-pers .card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  scale: 0.45;
  background: rgba(255, 255, 255, 0);
}
/* ------------------------------------------------------------------------------ */

.card .circle-pers .box,
.card .circle-pers .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle-pers .box {
  background: #ffffff00;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .circle-pers:hover .box {
  transform: translate(-50%, -50%) scale(1.2);
}

.card .circle-pers .box span,
.wrapper-pers .card .text {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-pers .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -50%);
  transition: all 0.1s;
}
/* ------------------------------------------------------------------------------ */
.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  background: #ffffff00;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(1.2);
}

.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -50%);
  transition: all 0.1s;
}

.card .text {
  font-size: 20px;
  font-weight: 600;
}

.imdb {
  margin: 0 1rem 0 0;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imdb p {
  margin: 0;
  font-size: 16px;
}

.button-func {
  color: #fff;
  display: inline-block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 0 10px;
  overflow: hidden;
  background: #17181cee;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.button-func:hover {
  width: 200px;
}

.watchlsit:hover {
  width: 210px;
}

.ratebutton:hover {
  width: 150px;
}

.button-func .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 50px;
  transition: all 0.3s ease-out;
}

.function-icons .button-func:nth-child(1):hover .icon {
  background: #e8aa42;
}

.function-icons .button-func:nth-child(2):hover .icon {
  background: linear-gradient(
    107.2deg,
    rgb(150, 15, 15) 10.6%,
    rgb(247, 0, 0) 91.1%
  );
}

.function-icons .button-func:nth-child(3):hover .icon {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.button .icon i {
  font-size: 25px;
  line-height: 50px;
  transition: all 0.3s ease-out;
}

.function-icons .button-func:nth-child(1) span {
  color: #e8aa42;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
}

.function-icons .button-func:nth-child(2) span {
  color: #b70404;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
}

.function-icons .button-func:nth-child(3) span {
  background: -webkit-linear-gradient(
      right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    -webkit-linear-gradient(left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f
          62.5%, #5d4a1f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5px;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
}

.playTrailer {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
}

.playTrailer h3 {
  font-size: 16px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.overview {
  width: 95%;
  height: 15rem;
  display: flex;
  flex-direction: column;
}
.overview-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.overview-title {
  color: #fffffff8;
}
.overview-title h4 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.overview-description {
  max-width: 55rem;
}
.overview-description p {
  color: #ffffffec;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin: 0;
  text-align: justify;
}

.director-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.director-name p {
  color: #fffffff8;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.director p {
  color: #fffffff8;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.youtube-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease;
}

.youtube-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.youtube-player-popup {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 6rem;
  transform: translate(-50%, -100%);
  transition: all 400ms ease;
}
.youtube-player-popup iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.youtube-overlay.active .youtube-player-popup {
  transform: translate(-50%, 0);
}

.stats-container {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stats-container-inside {
  max-width: 1570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.stats-box {
  width: 15rem;
  height: 135px;
  /*   border: 1px solid rgb(0, 0, 0);
 */
  background: var(--movie-item-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 10px;
  border-radius: 18px;
}
.stats-name h2 {
  margin-left: 5px;
  color: var(--text-color);
  font-size: 18px;
}
/* .stats-box.last {
  border-radius: 0 18px 18px 0;
}
.stats-box.first {
  border-radius: 18px 0 0 18px;
} */

.stats-name {
  height: 50%;
  display: flex;
  align-items: center;
}
.stats-out {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-out h2 {
  color: var(--text-color);
  font-size: 22px;
  margin-bottom: 10px;
}

.stats-name i {
  color: var(--text-color);
  margin-right: 5px;
}

.cast-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cast-list {
  position: relative;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  justify-content: center;
}

.cast-box {
  width: 250px;
  height: 315px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  border-radius: 18px;
}
.cast-box:hover {
  transform: translateY(-20px);
}

.cast-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #0250c5b7 0%, #d43f8da9 100%);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 18px;
}
.cast-box:hover::before {
  opacity: 1;
}
.cast-image-container {
  display: flex;
  vertical-align: top;
}
.cast-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  vertical-align: top;
}

.cast-name {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.cast-name i {
  margin-right: 10px;
  font-size: 24px;
}
.cast-box:hover .cast-name {
  opacity: 1;
  transform: translateY(0px);
}
.cast-name h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}
.cast-title {
  /*   margin: 0 0 2rem 6rem;
 */
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

footer {
  background-color: var(--body-color); /* Set a light background color */
  text-align: center;
  color: #888787; /* Set the text color to be visible */
  display: flex;
  flex-direction: column;
  height: 3rem;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

footer p {
  margin: 0;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}
